@tailwind base;
@tailwind components;
@tailwind utilities;

.borderonhover:hover {
    @apply border-8
  }

  
.link-icon {
  @apply w-6 h-6 mx-5;
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.link-icon:hover {
  @apply w-8 h-8;
  cursor: pointer;
  filter:hue-rotate(-30deg)
}

p {
  margin-left: 20px;
}

img {
  margin-left: 20px;
}

.colorembed {
  @apply w-6 h-6 mx-5;
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.colorembed:hover {
  @apply w-8 h-8;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px #979797) grayscale(40%);
}

body {
background-image: linear-gradient(to top, #ffffff, #ffffff);
}


button:hover {
  border: 3px solid #0b91ff;
}

nav {
  overflow: hidden;
  color: #b6c9ff;
  border-radius: 10px;
  border-left: 3px solid #b6c9ff;
  border-top: 3px solid #b6c9ff;
  border-right: 3px solid #b6c9ff;
  border-bottom: 3px solid #b6c9ff;
  background-color: #b6c9ff;
  box-shadow: 0 0 10px #e0e0e0;
  text-align: center;
  width: 880px;
  height: 110px;
}

/* 0044ff */

nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 14px 20px;
  font-family: 'OpenSansExtraBold', 'Verdana', sans-serif;
  font-size: xx-large;
  text-decoration: none;
  color: #0044ff;
}

a {
  text-decoration: none;
}